<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.AdminMapper">

	<insert id="insertpro">
		<selectKey resultType="int" keyProperty="productId" order="AFTER">
  		
  			SELECT LAST_INSERT_ID()
  		
  		</selectKey>
		insert into product(product_id, product_name, product_price,
		product_size, product_color, product_inventory)
		values(#{productId},#{productName},#{productPrice},#{productSize},#{productColor},#{productInventory})

	</insert>
	<!-- 이미지 등록 -->
	<insert id="imageEnroll">
		
		insert into product_img(product_id, fileName, uploadPath, uuid) values (#{productId}, #{fileName}, #{uploadPath}, #{uuid})
	
	</insert>
	
	<!-- 상품목록 -->
	<select id="selectproductList" resultType="com.shop.model.Product">
		select*from product
	</select>
	<!-- 상품목록 -->
	<select id="selectimgList" resultType="com.shop.model.AttachImageVO">
		select*from product_img
	</select>
	
		
</mapper>