@charset "UTF-8";
@charset "UTF-8";
#content{
    padding-left: 250px;
    font-size: 12px;
}
#table-warp{
    width:1100px;
    margin:0 auto;
    padding-top:150px;
}
#table-warp>h1{
    font-size:15px;
    text-align: center;
    margin-bottom: 50px;
}

table{width:63%;}
th,td{padding:10px 0 10px 10px;}
th:first-child,td:first-child{text-align: center;padding-left: 0;}
th{border-top: 1px solid black;border-bottom: 1px solid black;text-align: center;font-weight: 600;}
td{border-bottom:1px solid rgb(221, 221, 221);}

.button_style{
	background-color: white;
	border:1px solid  black;
	font-weight: bolder;
	padding:7px 14px 7px 14px;
	cursor: pointer;
}
.delete_btn{
    position: absolute;
    right: 233px;
    bottom: 329px;
}
.order_btn{
   position: absolute;
    top: 677px;
    right: 326px;
}
.button_style:hover{
	background-color: black;
	color:white;
}
.search_wrap{
    text-align: center;
    margin-top: 15px;
}
.text-frame{
	position:relative;
	border:1px solid RGB(221,221,221);
	width: 300px;
	height: 27px;
    margin-right: 8px;
}
.text-frame:focus{
	border:1px solid RGB(22,22,22);
	outline: none;
}
.text-frame:hover{
	border:1px solid RGB(22,22,22);
}
.text-frame-margin{
    width:80px;
	margin-bottom: 5px;
    font-size: 12px;
}
.pageInfo_wrap{
    margin-top: 25px;
}
.pageInfo{
    width:200px;
    margin: 0 auto;
    text-align: center;
}
.pageInfo li {
    float: left;
    margin-right: 20px;
}
.listResult { padding:20px; background:#eee; }
.listResult .sum { float:left; width:45%; font-size:22px; }

.listResult .orderOpne { float:right; width:45%; text-align:right; }
.listResult .orderOpne button { font-size:18px; padding:5px 10px; border:1px solid #999; background:#fff;}
.listResult::after { content:""; display:block; clear:both; }