@charset "UTF-8";

#contents{padding-top:100px;font-size:12px;}
#footer{margin-top:230px;}
#contents>h1{text-align: center;font-size:14px;}
#table_wrap,#btn-wrap{width:1000px;margin:0 auto;}
#table_wrap>table{margin-top: 50px;width:100%;border:1px solid #D7D5D5;}
#table_wrap>table>thead tr>th,#table_wrap>table>tbody tr>td{padding:15px 0 15px 0;border:1px solid #D7D5D5;text-align: center;}
#table_wrap>table>tbody tr>td{vertical-align: middle;}
#table_wrap>table>thead tr>th{background-color:#FAFAFA;}
#table_wrap>table>thead tr>th:nth-child(1){width:50px;}
#table_wrap>table>thead tr>th:nth-child(2){width:108px;}
#table_wrap>table>thead tr>th:nth-child(3){width:150px;}
#table_wrap>table>thead tr>th:nth-child(4){width:590px;}
#table_wrap>table>thead tr>th:nth-child(5){width:100px;}
#table_wrap>table>tbody tr>td:nth-child(2){width:110px;height:140px;padding:5px 0;}
#table_wrap>table>tbody tr>td:nth-child(2)>img{width:100px;height:130px;}
.btn-box{text-align: right;margin-top:20px}
.pageInfo_area{text-align: center;margin-top:10px;}