@charset "UTF-8";
#contents{padding-top:100px;}
#table-wrap{width:1000px;margin:0 auto;font-size: 12px;}
#table-wrap>h1{font-size: 15px;text-align: center;margin-bottom: 50px;}
#review-table{width:100%; border:none;border-top:1px solid black;}
#review-table>tbody>tr>td{padding:15px 0 15px 0;border-bottom: 1px solid #dddddd;}
#review-table>tbody>tr>td:first-child{width:150px;}
.userId_box,.userId_box:hover,.userId_box:focus{border:none;}
#review-table>tbody>tr:nth-child(3)>td>textarea{width:100%;height:500px;resize: none;}
#btn-wrap{width:1000px;margin:0 auto;}
.btn-box{text-align: right;}
#btn-box{width:100%;margin:20px auto 200px auto;text-align: center;}
