@charset "UTF-8";

#contents>h1 {
    position: relative;
    display: inline-block;
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: bolder;
    left: 660px;
}
#contents>h1:first-child{
    padding-top: 100px;
    left: 744px;
}

.side-img {
    position: relative;
    text-align: center;
}
#slide-frame{
    position:relative;
    width:1070px;
    overflow: hidden;
    left:260px;
    height: 450px;
    margin-bottom: 80px;
}
.slide-img{
    position:relative;
    width:3000px;
    margin-bottom: 80px;
    animation: slide_img 30s ease-in-out 2s infinite alternate forwards;
}
@keyframes slide_img {
    0%{
        right:0;
    }
    10%{
        right:0;
    }
    15%{
        right:360px;
    }
    25%{
        right:360px;
    }
    30%{
        right:720px;
    }
    40%{
        right:720px;
    }
    45%{
        right:1080px;
    }
    55%{
        right:1080px;
    }
    60%{
        right:1440px;
    }
    70%{
        right:1440px;
    }
    80%{
        right:1440px;
    }
    85%{
        right:1800px;
    }
    100%{
        right:1800px;
    }
}
.show-img{
    width:1600px;
    margin-bottom: 80px;

}
.show-img>li:nth-child(1),.show-img>li:nth-child(2){
    display: none;
}

.slide-img >li{
    position: relative;
    float: left;
}
.slide-img >li>img{
    width: 350px;
    height: 450px;
    margin-right: 10px;
}
.product-list{
    width: 1600px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 200px;
    flex-wrap: wrap;
}

.product-list>ul{text-align: center;margin-bottom: 20px;}
.product-list>ul>li{
    width:310px;
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 60px;
}
.product-list>ul img{width: 310px; height: 390px; border: 1px solid black;}
