@charset "UTF-8";

#contents{
    padding-top: 100px;
}
#slide-warp{
    text-align: center;
    width:1600px;
    margin:0 auto;
    margin-bottom: 400px;
}
#slide-warp h1{
    font-size: 20px;
    font-weight: bolder;
    margin:0 0 80px 0;
}
.show-img>li:nth-child(1),.show-img>li:nth-child(2){
    display: none;
}
#slide-frame-1{
    margin-bottom: 150px;
}
#slide-frame-2{
    width:1070px;
    overflow: hidden;
    margin:0 auto;
}
.slide-img{
    position:relative;
    width:3000px;
    margin-bottom: 80px;
    animation: slide_img 30s ease-in-out 2s infinite alternate forwards;
}
@keyframes slide_img {
    0%{
        right:0;
    }
    10%{
        right:0;
    }
    15%{
        right:360px;
    }
    25%{
        right:360px;
    }
    30%{
        right:720px;
    }
    40%{
        right:720px;
    }
    45%{
        right:1080px;
    }
    55%{
        right:1080px;
    }
    60%{
        right:1440px;
    }
    70%{
        right:1440px;
    }
    80%{
        right:1440px;
    }
    85%{
        right:1800px;
    }
    100%{
        right:1800px;
    }
}
.slide-img >li{
    position: relative;
    float: left;
    color:#444444
}
.slide-img >li>img{
    width: 350px;
    height: 450px;
    margin-right: 10px;
}
#product-warp{
    width:1600px;
    text-align: center;
    margin-bottom: 150px;
}
.product_unit{
    display: inline-block;
    margin:0 20px 110px 0;
}
#product-warp img{
    width: 310px; 
    height: 390px; 
}
.product_unit ul{
    text-align: left;
}
.product_unit ul>hr{
    margin:0;
    border:none;
    border-bottom:1px solid #EEEEEE;
    outline: none;
}
.product_unit ul>li:first-child{
    margin:15px 0 15px 0;
    font-size: 13px;
}
.product_unit ul>li:last-child{
    margin:15px 0 15px 0;
    font-size: 11px;
}
