@charset "UTF-8";
#contents>h1 {
    text-align: center;
    margin-bottom: 80px;
    font-size: 20px;
    font-weight: bolder;
}
#contents>h1:first-child{
    padding-top: 100px;
}
.side-img {
    position: relative;
    width:100%;
    text-align: center;
    margin-bottom: 80px;
}
.side-img > img {
    width: 25vw;
    height: 30vw;
    margin-right: 10px;
}
.product-list{
    text-align: center;
    margin: 0 auto;
}
.product-list>ul{text-align: center;margin-bottom: 20px;}
.product-list>ul>li{
    width:18vw;
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 60px;
}
.product-list>ul img{width: 18vw; border: 1px solid black;}

