@charset "UTF-8";

h3{
    text-align: center;
    margin-bottom: 50px;
}
hr{
    border-top:1px solid rgb(126, 126, 126);
    margin:0;
}
.content-frame{
    width:1300px;
    margin:0 auto;
}
.form-frame{
    width:400px;
    margin: 0 auto;
    padding: 224px 0;
}
.text-frame{
    width:300px;
    height: 30px;
    border:none;
    font-size:11px;
}
.text-frame:hover,.text-frame:focus{
    border:none;
    outline: none;
}
.font_style{
    padding-right: 37px;
    font-size: 12px;
}
.btn-style{
    background-color: white;
    border:1px solid black;
    width:197px;
    margin-top:20px;
    border-radius: 40px;
    padding: 10px 0;
    font-size:11px;
}
