@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

/* 화면 전체 렙 */
.wrapper {
	width: 1900px;
}

/* content 랩 */
.wrap {
	width: 800px;
	margin: auto;
	align: "center"
}
/* 페이지 제목 */
.subjecet {
	width: 100%;
	height: 40px;
	padding: 10px;
}

.subjecet span {
	margin-left: 31px;
	font-size: 20px;
	font-weight: 200;
}

table {
	width: 1100px;
	margin: auto;
	width: 80%;
}

td {
	border-bottom: 2px solid gray;
}

.ex01 {
	width: 100px;
	margin: 0 auto;
}
/* float 속성 해제 */
.clearfix {
	clear: both;
}

/*확인버튼*/
.join_button_wrap { 
	margin: 10px;
}

/*유효성 검사*/
.checkid {
	display: none;
}