ul,li{list-style: none}
.wrapper{text-align: center;padding-top: 200px;padding-bottom: 300px;}
.text-frame{border-radius: 0;border:1px solid rgb(56, 56, 56);width: 350px;height:32px;margin-bottom: 10px;}
.join_button{padding:0;}
.text-deco{background-color: white;border:none;font-size:12px;font-weight: 500;padding-left: 5px;padding-top:10px;}
.login_wrap>a{color:black;}
.login_button{font-size:15px;padding-left:120px;}
#GgCustomLogin{margin-top:20px;}
#GgCustomLogin span {color:black;}
#GgCustomLogin img {position: relative;width:20px;height:20px;top:4px;}
.login_wrap p {color:rgb(228, 0, 0);font-size: 15px;padding-bottom: 13px;}