@charset "UTF-8";

.mypage_table{
            width:54%;
            height: 28px;
            margin:auto;
        }
		.cut{
            text-align: center;
      }

        tr,td{
            border-bottom: 3px solid grey;
        }

        .mypage_foot{
            text-align: center;
        }

        a{
            font-size: 15px;
            color: grey;
            text-decoration: none;
        }
        div{
            border: 1px solid black;
        }