@charset "UTF-8";

#contents{
    padding-top:100px;
    font-size: 12px;
}
#prodct-ex_wrap{
    width:1470px;
    margin:0 auto;
    vertical-align:top;
}
.product_img{
    display:inline-block;
    width:500px;
    height:620px;
    vertical-align:top;
}
.product_img>img{
    width:500px;
    height:620px;
}
#detail_wrap{
    width:890px;
    height:620px;
    float: right;
}
.detail-title-box{
    padding-bottom:30px;
}
.detail-Ex-box{
    height:260px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 30px;
    
}
#prodct-img-ex_wrap{
    width: 1470px;
    margin:100px auto;
}
.detail-char-box{width:886px;margin-bottom: 50px;}

/*detail-title-box*/
.productId{font-size:11px; font-weight:500;margin-bottom: 10px;}
.productName{font-size:16px;font-weight:600;margin-bottom:10px;}
.productName span{border-left:1px solid rgb(180, 180, 180);font-size: 13px;padding-left:15px;margin-left:10px;color:rgb(61, 61, 61);}
.productPrice{font-size:16px;font-weight: bolder;}

/*detail-Ex-box*/
.button_style{ width:440px;margin-bottom: 12px;}
#img-guide,#product-comment{width:880px;}
.comment-btn{background-color: black; color:white;}
#img-guide{display: none;}
.textarea_style,#img-guide>img{width:100%;height:200px;resize: none;}
.textarea_style,.textarea_style:hover,.textarea_style:focus{border:1px solid RGB(22,22,22);}

/*detail-char-box*/
.detail-char-box td{padding:10px 0;}
.detail-char-box td:first-child{width:120px;}
.product_amount,.product_amount:hover,.product_amount:focus{width:755px; border:1px solid rgb(161, 161, 161);}
.cart_btn,.back_btn{padding:31px 0;}
.detail-char-box>tbody{border:1px solid white}

/*prodct-img-ex_wrap*/
#prodct-img-ex_wrap{
	width:1000px;
	text-align:center;
}
.prodct-img-ex{width:980px;height: 1000px;}
/*상세이미지 1번*/
.prodct-img-ex_01{width:980px;height: 1000px;}
/*상세이미지 2번*/
.prodct-img-ex_02{width:980px;height: 1000px;}
/*review*/
#footer{margin-top:230px;}
#review_wrap{width: 1470px;margin:0 auto;}
#review_wrap>table{margin-top: 50px;width:100%;border:1px solid #D7D5D5;}
#review_wrap>table>thead>tr>th,#review_wrap>table>tbody>tr>td{padding:15px 0 15px 0;border:1px solid #D7D5D5;text-align: center;}
#review_wrap>table>thead>tr>th{background-color:#FAFAFA;}
#review_wrap>table>thead>tr>th:nth-child(1){width:50px;}
#review_wrap>table>thead>tr>th:nth-child(2){width:200px;}
#review_wrap>table>thead>tr>th:nth-child(3){width:610px;}
#review_wrap>table>thead>tr>th:nth-child(4){width:70px;}
#review_wrap>table>thead>tr>th:nth-child(5){width:70px;}
#review_wrap>table>tbody>tr>td:nth-child(2){text-align: left;padding-left: 30px;}
#review-btn-wrap{text-align: right; margin-top:20px;}
.write-btn{width: 100px;}
